$primary_color: #8FC485;
$secondary_color: #D3D3D3;

nav {
	position: fixed;
	background: $primary_color;
	padding: 5px 0;
	z-index: 1;
	.session-container {
		padding: 10px 0;
		a {
			margin: 0 0 0 5px;
		}
	}
}