$primary_color: #499252;
$secondary_color: #E7E1C1;

nav {
	background: $primary_color;
	padding: 5px 25px 5px 0;
	z-index: 5;

	a, a:visited {
		color: #fff;
	}

	&.fixed {
		position: fixed;
		top: 0;
		left: 0;
    	width: 100%;
	}

	.session-container {
		padding: 10px 0;
		a {
			margin: 0 0 0 5px;
		}

		.profile {
			margin-right: 20px;
		}
	}

	&.mobile-nav {

		.dropdown-menu {
			width: 100%;
		}

		img {
			width: 50px;
		}

		i {
			font-size: 35px;
    		margin: 6px 0;
			color: #fff;
		}

	}

}
