$primary_color: #8FC485;
$secondary_color: #D3D3D3;

.sidebar-wrapper {
	position: fixed;
	top: 66px;
	left: 0;
	width: 60px;
	height: 100vh;
	background: $secondary_color;
	z-index: 4;
	i {
		cursor: pointer;
		color: #fff;
		font-size: 25px;
		margin: 20px 18px;
		&.bottom {
			position: absolute;
			bottom: 75px;
		}
	}
}
