$primary_color: #499252;
$secondary_color: #D4D3B7;

.sidebar-wrapper {
	position: fixed;
	top: 66px;
	left: 0;
	width: 60px;
	height: 100vh;
	background: $secondary_color;
	z-index: 4;
	i {
		cursor: pointer;
		color: $primary_color;
		font-size: 25px;
		margin: 20px 18px 5px;
		&.bottom {
			position: absolute;
			bottom: 75px;
		}
	}
	p {
		font-size: 11px;
		padding: 0 2px;
		color: $primary_color;
		text-align: center;
	}
}
