.sporting-goods-show {

  .terms-container {
    float: left;
    clear: left;
    margin-top: 10px;
  }

  .slider-container {
    margin-top: 40px;
  }

  .rent-btn {
    margin-top: 20px;
    width: 100%;
    padding: 10px 0;
  }

}
