$primary_color: #499252;
$secondary_color: #D4D3B7;

$tablet-size: 767px;
$grey: #AFAFAF;

$sprite: url(image-path('sprite.png')) no-repeat;
$main-logo: url(image-path('logo.png')) no-repeat;

body {
	overflow-x: hidden;
	width: 100%;
}

li {
		list-style: none;
}

.main-wrapper {
	.transition .container {
		padding-top: 40px;
	}
	margin: 74px 0 0 50px;
	@media (max-width: $tablet-size) {
		margin: 50px 0 0;
	}
}

.container {
	width: 95%;
	max-width: 1500px;
	margin-top: 105px;
	&.reduce-margin-top {
		margin-top: 50px;
	}
}

.no-padding {
	padding-left: 0;
	padding-right: 0;
}

.display-block {
	display: block;
}

.header {
	text-decoration: underline;
	margin-bottom: 15px;
}

.capitalize {
	text-transform: capitalize;
}

// Forms
.search-field {
	margin-bottom: 10px;
}

label {
	margin-right: 5px;
	font-size: 12px;
}

.box-container {
	padding: 20px;
 	border: solid 1px $grey;
}

.error {
	margin-right: 5px;
	text-transform: capitalize;
}

.radio-container {
	label {
		margin: 0 5px;
	}
}
