$tablet-size: 767px;

.main-wrapper {
	.transition .container {
		position: absolute;
		right: 0;
		left: 0;
	}
	margin: 74px 0 0 50px;
	@media (max-width: $tablet-size) {
		margin: 50px 0 0;
	}
}

.no-margin {
	padding-left: 0;
	padding-right: 0;
}

.display-block {
	display: block;
}

// Forms
.search-field {
	margin-bottom: 10px;
}
