$primary_color: #499252;
$secondary_color: #D4D3B7;

$tablet-size: 767px;
$grey: #AFAFAF;

$sprite: url(image-path('sprite.png')) no-repeat;
$main-logo: url(image-path('logo.png')) no-repeat;
$not-found-image: url(image-path('404.jpeg')) no-repeat;
