.privacy-wrapper {

  .delete-account-container {

    ul {
      padding: 0;
      li {
        margin-bottom: 5px;
        input {
          margin-right: 5px;
        }
      }
    }

    h5 {
      margin-top: 10px;
    }

    button {
      margin-top: 10px;
    }

  }

}
